# Parameters values

bwa_aln_t=2
bwa_aln_n=2
bwa_aln_o=1
bwa_aln_R=30
bwa_sampe_n=0
bwa_sampe_N=0
nb_of_independent_event=2
microindel_size=5
multiple_hit_allowed=TRUE
trimmo_leading_qual_min=20
trimmo_trailing_qual_min=20
trimmo_slinding_window_size=4
trimmo_sliding_window_qual=20
trimmo_min_length=50
trimmo_thread_number=4
MAPQ_min=20
QUAL_ENCODING=33


# Parameters intervals

nb_of_independent_event_min=1
nb_of_independent_event_max=5
microindel_size_min=0
microindel_size_max=30

