# Environment variable

# BASE PATH 
GENOMES_BASE_PATH=/data/SEQUENCES/GENOME
INDEXES_BASE_PATH=/data/SEQUENCES/INDEX


#BWA_REFERENCE_GENOME_INDEX=/projects/ARABIDOPSIS/INDEX/Col0_bwa_0.6.1/TAIR10_All_Chrom.fas
#REFERENCE_GENOME_FASTA=/projects/ARABIDOPSIS/REF_GENOME/TAIR10_All_Chrom.fas

#BWA_Version
#BWA_PATH=
BWA_INDEXES=$INDEXES_BASE_PATH/bwa


#SAMTOOLS_Version
#SAMTOOLS_PATH
SAMTOOLS_INDEXES=$INDEXES_BASE_PATH/samtools


SNPEFF_Version=development
SNPEFF_PATH=/usr/local/src/snpEff_development
SNPEFF_DATA=$SNPEFF_PATH/data

# DreamFile utils
DREAMFILE_PATH=/usr/local/src/pyTxtTrait

# Parameters values

bypass_fastqc_failure_report_checking=TRUE
bwa_aln_t=2
bwa_aln_n=2
bwa_aln_o=1
bwa_aln_R=30
bwa_sampe_n=0
bwa_sampe_N=0
nb_of_independent_event=2
microindel_size=5
multiple_hit_allowed=TRUE
trimmo_leading_qual_min=20
trimmo_trailing_qual_min=20
trimmo_sliding_window_size=4
trimmo_sliding_window_qual=20
trimmo_min_length=50
trimmo_thread_number=4
MAPQ_min=20
QUAL_ENCODING=33
snpeff_data=athalianaTair10 
snpeff_inFile_format=VCF
snpeff_outFile_format=VCF
snpeff_options=-ud 5000
samtools_view_b=TRUE
samtools_view_S=TRUE
samtools_mpileup_B=TRUE
samtools_mpileup_u=TRUE
samtools_mpileup_f=TRUE
samtools_mpileup_Q=20
bcftools_view_c=TRUE
bcftools_view_v=TRUE
bcftools_view_g=TRUE
bgzip_f=TRUE
bgzip_c=TRUE
tabix_f=TRUE
tabix_p=vcf


# Parameters intervals

nb_of_independent_event_min=1
nb_of_independent_event_max=5
microindel_size_min=0
microindel_size_max=30

